<p>You have an Azure subscription that contains an Azure AD tenant named contoso.com and an Azure Kubernetes Service (AKS) cluster named AKS1.</p>
<p>An administrator reports that she is unable to grant access to AKS1 to the users in contoso.com.</p>
<p>You need to ensure that access to AKS1 can be granted to the contoso.com users.</p>