<p>You have an on-premises file server named Server1 that runs Windows Server 2016.</p>
<p>You have an Azure subscription that contains an Azure file share.</p>
<p>You deploy an Azure File Sync Storage Sync Service, and you create a sync group.</p>
<p>You need to synchronize files from Server1 to Azure.</p>