<p>You onboard 10 Azure virtual machines to Azure Automation State Configuration.</p>
<p>You need to use Azure Automation State Configuration to manage the ongoing consistency of the virtual machine configurations.</p>