<p>You have an Azure AD tenant named contoso.onmicrosoft.com that contains 100 user accounts.</p>
<p>You purchase 10 Azure AD Premium P2 licenses for the tenant.</p>
<p>You need to ensure that 10 users can use all the Azure AD Premium features.</p>