<p>You recently created a new Azure subscription that contains a user named Admin1.</p>
<p>Admin1 attempts to deploy an Azure Marketplace resource by using an Azure Resource Manager template, Admin1 deploys the template by using Azure PowerShell and receives the following error message:</p>
<code>User failed validation to purchase resources.</code>
<code>Error message: Legal terms have not been accepted for this item on this subscription.</code>
<code>To accept legal terms, please go to the Azure portal (http://go.microsoft.com/fwlink/?LinkId=534873) and configure programmatic deployment for the Marketplace item or create it there fore the first time.</code>
<p>You need to ensure that Admin1 can deploy the Marketplace resource successfully.</p>