<p>You have an Azure policy as shown in the following exhibit:</p>
<table>
    <tr>
        <td>
            <img class="img-fluid" src="~/img/bx104_sc007_img1.jpg" />
        </td>
    </tr>
    <tr>
        <td>
            <img class="img-fluid" src="~/img/bx104_sc007_img2.jpg" />
        </td>
    </tr>
</table>
