<p>You have an Azure subscription that contains a resource group named RG26.</p>
<p>RG26 is set to the West Europe location and is used to create temporary resources for a project. RG26 contains the resources shown in the following table.</p>
<table class="table table-bordered">
    <thead class="thead-light">
        <tr><th>Name</th><th>Type</th><th>Location</th></tr>
    </thead>
    <tbody>
        <tr><td>VM1</td><td>Virtual machine</td><td>North Europe</td></tr>
        <tr><td>RGV1</td><td>Recovery Services vault</td><td>North Europe</td></tr>
        <tr><td>SQLD01</td><td>Azure SQL database</td><td>North Europe</td></tr>
        <tr><td>AZSQL01</td><td>Azure SQL database server</td><td>North Europe</td></tr>
        <tr><td>sa001</td><td>Storage account</td><td>West Europe</td></tr>
    </tbody>
</table>
<p>SQLDB01 is backed up to RGV1.</p>
<p>When the project is complete, you attempt to delete RG26 from the Azure portal. The deletion fails.</p>
<p>You need to delete RG26.</p>