<p>You have an Azure AD tenant that contains three global administrators named Admin1, Admin2, and Admin3.</p>
<p>The tenant is associated to an Azure subscription. Access control for the subscription is configured as shown in the Access control exhibit. (Click the Access Control Tab)</p>
<img class="img-fluid" src="/img/0005500001.png" />
<p>You sign in to Azure portal as Admin1 and configure the tenant as shown in the Tenant exhibit. (Click the tenant tab)</p>

<img class="img-fluid" src="/img/bx104_sc033_img2.jpg" />
<p>For each of the following statements, select Yes if true, otherwise, No</p>