<p>You have an Azure AD tenant.</p>
<p>You need to create a conditional access policy that requires all users to use multi-factor authentication when they access the Azure portal.</p>
<p>Which three settings should you configure?</p>
<img class="img-fluid" src="~/img/bx104_sc027_img1.jpg" />