<p>You have an on-premises network that you plan to connect to Azure by using a site-to-site VPN.</p>
<p>In Azure, you have an Azure virtual network named VNet1 that uses an address space of 10.0.0.0/16.</p>
<p>VNet1 contains a subnet named Subnet1 that uses an address space of 10.0.0.0/24.</p>
<p>You need to create a site-to-site VPN to Azure.</p>