<p>You have a Microsoft 365 tenant and a Azure AD tenant named contoso.com</p>
<p>You plan to grant three users named User1, User2, and User3 access to a temporary Microsoft SharePoint document library named Library1.</p>
<p>You need to create groups for the users. The solution must ensure that the groups are deleted automatically after 180 days.</p>