<p>You have an Azure subscription that contains a user named User1</p>
<p>You need to ensure that User1 can deploy virtual machines and manage virtual networks.</p>
<p>The solution must use the principle of least privilege.</p>