<p>You have an Azure subscription named AZPT1 that contains the resources shown in the following table:</p>
<table class="table table-bordered">
    <thead class="thead-light">
        <tr><th>Name</th><th>Type</th></tr>
    </thead>
    <tbody>
        <tr><td>storage1</td><td>Azure Storage account</td></tr>
        <tr><td>VNET1</td><td>Virtual network</td></tr>
        <tr><td>VM1</td><td>Azure virtual machine</td></tr>
        <tr><td>VM1Managed</td><td>Managed disk for VM1</td></tr>
        <tr><td>RVAULT1</td><td>Recovery Services vault for the site recovery of VM1</td></tr>
    </tbody>
</table>
<p>You create new Azure subscription named AZPT2.</p>
<p>You need to identify which resources can be moved to AZPT2.</p>