<p>You have a hybrid deployment of Azure AD that contains the users shown in the following table</p>
<table class="table table-bordered">
    <thead class="thead-light">
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Source</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>User1</td>
            <td>Member</td>
            <td>Azure AD</td>
        </tr>
        <tr>
            <td>User2</td>
            <td>Member</td>
            <td>Windows Server Active Directory</td>
        </tr>
        <tr>
            <td>User3</td>
            <td>Guest</td>
            <td>Microsoft account</td>
        </tr>
    </tbody>
</table>
<p>You need to modify the JobTitle and UsageLocation attributes for the users.</p>
<p>For which users can you modify the attributes from Azure AD?</p>