<p>You have an Azure Linux virtual machine that is protected by Azure Backup.</p>
<p>One week ago, two files were deleted from the virtual machine.</p>
<p>You need to restore the deleted files to an on-premises Windows Server 2016 computer as quickly as possible.</p>