<p>You have an Azure subscription that contains a storage account.</p>
<p>You have an onpremises server named Server1 that runs Windows Server 2016. Server1 has 2 TB of data.</p>
<p>You need to transfer the data to the storage account by using the Azure Import/Export service.</p>