<p>You have an Azure AD tenant that has the contoso.onmicrosoft.com domain name.</p>
<p>You have a domain name of contoso.com registered at a thrid-party registrar.</p>
<p>You need to ensure that you can create Azure AD users that have names containing a suffix of &#064;contoso.com.</p>