<p>You have an on-premises server that contains a folder named D:\Folder1.</p>
<p>You need to copy the contents of D:\Folder1 to the public container in an Azure Storage account named contosodata.</p>