<p>You have an Azure AD tenant named Adatum and an Azure Subscription named Subscription1. Adatum contains a group named Developers.</p>
<p>Subscription 1 contains a resource group named Dev.</p>
<p>You need to provide the Developer group with the ability to create Azure logic apps in the Dev resource group.</p>