<p>You have manifest Azure AD tenant named consotocloud.onmicrosoft.com.</p>
<p>Your company has a public DNS zone for contoso.com.</p>
<p>You add contoso.com as a custom domain name to Azure AD.</p>
<p>You need to ensure that Azure can verify the domain name.</p>