<p>You have an Azure AD tenant named contoso.com that contains the users shown in the following table:</p>
<table class="table table-bordered table-striped">
    <thead class="table-info">
        <tr><th>Name</th><th>Type</th><th>Member of</th></tr>
    </thead>
    <tbody>
        <tr><td>User1</td><td>Global administrator</td><td>Azure Active Directory</td></tr>
        <tr><td>User2</td><td>Global administrator</td><td>Azure Active Directory</td></tr>
        <tr><td>User3</td><td>User administrator</td><td>Azure Active Directory</td></tr>
        <tr><td>User4</td><td>Owner</td><td>Azure Subscription</td></tr>
    </tbody>
</table>
<p>User3 is the owner of Group1.</p>
<p>Group2 is a member of Group1.</p>
<p>You configure an access review named Review1 as shown in the folloing exhibit:</p>
<img src="~/img/bx104_sc005_img1.jpg" alt="Access Review" />
<p>For the following statement, select Yes if the statment is true, Otherwise, select No.</p>