<p>You have an Azure subscription named Subscription1 that contains the storage accounts shown in the following table:</p>
<table class="table table-bordered table-responsive">
    <thead>
        <tr>
            <td>Name</td>
            <td>Account kind</td>
            <td>Azure service that contains data</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>storage1</td>
            <td>Storage</td>
            <td>File</td>
        </tr>
        <tr>
            <td>storage2</td>
            <td>Storage V2 (general purpose v2)</td>
            <td>File, Table</td>
        </tr>
        <tr>
            <td>storage3</td>
            <td>Storage V2 (general purpose v2)</td>
            <td>Queue</td>
        </tr>
        <tr>
            <td>storage4</td>
            <td>BlobStorage</td>
            <td>Blob</td>
        </tr>
    </tbody>
</table>
<p>You plan to use the Azure Import/Export service to export data from Subscription1.</p>
<p>You need to identify which storage account can be used to export the data.</p>