<p>You have an Azure subscription that contains a resource group named TestRG.</p>
<p>You use TestRG to validate an Azure deployment.</p>
<p>TestRG contains the following resources:</p>
<table class="table table-bordered table-responsive">
    <thead class="thead-light">
        <tr><th>Name</th><th>Type</th><th>Description</th></tr>
    </thead>
    <tbody>
        <tr>
            <td>VM1</td><td>Virtual Machine</td><td>VM1 is running and configured to back up to Vault1 daily</td>
        </tr>
        <tr>
            <td>Vault1</td>
            <td>Recovery Services Vault</td>
            <td>Vault1 includes all backups of VM1</td>
        </tr>
        <tr>
            <td>VNET1</td>
            <td>Virtual Network</td>
            <td>VNET1 has a resource lock of type Delete</td>
        </tr>
    </tbody>
</table>
<p>You need to delete TestRG.</p>