<p>You have Azure Active Directory named Contoso.com that includes following users:</p>
<table class="table table-bordered table-responsive">
    <thead class="thead-light">
        <tr><th>Name</th><th>Role</th></tr>
    </thead>
    <tbody>
        <tr><td>User1</td><td>Cloud device administrator</td></tr>
        <tr><td>User2</td><td>User administrator</td></tr>
    </tbody>
</table>
<p>Contoso.com includes following Windows 10 devices.</p>
<table class="table table-bordered table-responsive">
    <thead class="thead-light">
        <tr><th>Name</th><th>Join type</th></tr>
    </thead>
    <tbody>
        <tr><td>Device1</td><td>Azure AD registered</td></tr>
        <tr><td>Device2</td><td>Azure AD joined</td></tr>
    </tbody>
</table>
<p>You create following security groups in Contoso.com.</p>
<table class="table table-bordered table-responsive">
    <thead class="thead-light">
        <tr><th>Name</th><th>Membership Type</th><th>Owner</th></tr>
    </thead>
    <tbody>
        <tr><td>Group1</td><td>Assigned</td><td>User2</td></tr>
        <tr><td>Group2</td><td>Dynamic Device</td><td>User2</td></tr>
    </tbody>
</table>
<p>For each of the following statements, select Yes if the statment is true, otherwise, select No.</p>