<p>You have an Azure subscription named Subscription1. Subscription1 contains the resource groups in the following table:</p>
<table class="table table-bordered">
    <thead class="thead-light">
        <tr><th>Name</th><th>Azure Region</th><th>Policy</th></tr>
    </thead>
    <tbody>
        <tr><td>RG1</td><td>West Europe</td><td>Policy1</td></tr>
        <tr><td>RG2</td><td>North Europe</td><td>Policy2</td></tr>
        <tr><td>RG3</td><td>France Central</td><td>Policy3</td></tr>
    </tbody>
</table>
<p>RG1 has a web app named WebApp1. WebApp1 is located in West Europe.</p>
<p>You move WebApp1 to RG2</p>