<p>You have an Azure subscription linked to an Azure AD tenant. The tenant includes a user account named User1.</p>
<p>You need to ensure that User1 can assign a policy to the tenant root management group.</p>