@{
    ViewData["Title"] = "Home Page";
}
@model IQueryable<PracticeSet>

<div class="jumbotron text-center m-5">
    <h1 class="display-4">Welcome</h1>
    <p>to the BXSim Web Application</p>
</div>
<div class="container p-2 bg-dark">
    <div class="row bg-danger">
        <div class="col align-self-center bg-warning">

            @foreach (PracticeSet set in @Model)
            {
                <div class="card shadow m-2" style="">
                    <div class="card-header">
                        <h2>@set.Title</h2>
                    </div>
                    <div class="card-body">
                        @Html.Raw(set.IntroPage)
                    </div>
                    <div class="card-footer d-flex justify-content-center">
                        <a class="btn btn-primary text-white" style="width:12rem;">START</a>
                    </div>
                </div>
            }

        </div>
    </div>
</div>