@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<QuizScenario>

<div class="container">
    <div class="row">
        <div class="col align-self-center">
            @foreach (QuizScenario scenario in Model)
            {
            <div class="card my-3 shadow">
                <div class="card-header mt-5">
                    <!--Show Scenario partial here-->
                    <partial name="@scenario.ScenarioPartial" />
                </div>
                <!--Generate questions-->
                @foreach (Quiz quiz in scenario.Quizzes)
                {
                    @switch (quiz.QuizType)
                    {
                        case SpecialQuiz.Normal:
                            <partial name="MultipleChoice" model="quiz"/>
                            break;
                        case SpecialQuiz.Sequential:
                            <partial name="SequentialChoice" model="quiz"/>
                            break;
                        default:
                            break;
                    }

                }
            </div>
            }
            </div>
    </div>
</div>